<style>
    html, body 
		 {
			width: 100%;
			height: 100%;
			margin: 0px;
			padding: 0px;
		 }
    .top
		{ background-color: #1c1c52;
			padding-block: 20px;
			text-align: center;
			font-size: 50px;
			color: white;
		 }
     
    .formstyle
	       { 
				margin-top: 30px;
                margin-left: 550px;
           } 
    .formtitle
			{
				margin-left: 90px;
				margin-bottom: 15px;
				font-weight: bold;
			}
    .borderstyle
	        {
			     border-bottom: 1px solid;
	        }
	.title
            {
                margin-left: 45%;
                margin-top: 50px;
                font-size: 20px; 
            }
    </style>
    
    <!DOCTYPE html>
    <html>
    <head>
    <meta charest="utf-8" />
    <title>會員系統</title>
    
    </head>
    <body>
		<div class="top">失敗頁面</div>
    
		<div class="title"> {{ errmsg }}</div>
         <a style="margin-left: 48%;" href="http://127.0.0.1:3000/">返回首頁</a>
		   
    </body>
    
    
    
    
    
    </html>